* {
  /* border: 1px solid red; */
}

html {
  box-sizing: border-box;
  /* box-sizing: border-box; - Свойства width и height задают размеры элемента, 
      включая содержимое, рамку и внутренние отступы. 
      content-box — Свойства width и height задают размеры только содержимого элемента.
      Значение по умолчанию: content-box.*/
}

body {
  margin: 0;
  background-color: #ffffff;
}

.text {
  font-family: "Montserrat", serif;
}

img {
  display: block;
  max-width: 100%; /*чтобы изображение сжималось если узкий экран*/
}

.container {
  width: 70%;

  /* background-color:aqua  */
  margin: 0 auto;

  /* border: 1px solid black; */
}

.header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  box-shadow: 3px 3px 5px gray;

  /* background-color: #EDA418; */
  /* background: linear-gradient(180deg,
    rgb(100, 100, 255) 25%,
    rgba(237, 164, 24, 0) 100%
  ); */
}
.first{
    /* display: flex; */
    /* padding-top: 40px; */
    
    /* align-items: center; */
    /* border: 1px solid blue; */
    
}
.h2-head{
    color: rgb(0, 0, 156);
    /* color: chocolate; */
}
.menu {
  /* margin-top: 50px; */
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap ;
  margin-right: 50px;
  
}

@media screen and (max-width: 1024px) {
  .header{
    height: 150px;
  }
 
  .menu {
    /* flex-wrap:wrap ; */
    height: 140px;
  }
}

@media screen and (max-width: 768px) {
  .header{
    height: 250px;
  }
 
  .menu {
    /* flex-wrap:wrap ; */
    height: 240px;
  }
}

.menu-item {
  font-weight: bold;
  color: white;
  /* background-color:chocolate; */
  background-color: rgb(0, 0, 156);
  border-radius: 10px;
  display: block;
    max-width: 200px;
    text-decoration: none;
    text-transform: uppercase;
        padding: 10px 30px;
        box-shadow: 3px 3px 3px gray;
        margin-top: 5px;
  
}

.menu-item:hover{
    box-shadow: 3px 3px 3px black;
    color:rgb(252, 252, 142);
}



.hello {
  font-size: 20px;
  font-weight: 500;
}

.second {
  display: flex;
  justify-content: space-between;
}

.second-left {
  width: 100%;
}

.second-right-img {
  width: 400px;
}

.section {
  width: 100%;
}

.food-menu-h2 {
  /* text-align: center; */
}

.food-menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  
}

.food-menu-grid-item {
  text-align: center;
  /* width: 190px; */
}

.grid-item{
    text-decoration: none;
    text-transform: uppercase;
    /* color: chocolate; */
    color: rgb(0, 0, 156);
}

.grid-item:hover{
    color: purple;
    /* text-decoration: underline; */
    font-weight: 600;
}

.img_grid {
  width: 100%;
}

@media screen and (max-width: 1920px) {
  .food-menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 30px;
    justify-items: center;
  }
}

@media screen and (max-width: 1280px) {
  .food-menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 30px;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .food-menu-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 30px;
    justify-items: center;
  }
}

.footer {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  padding-top: 15px;
  /* background: linear-gradient(
    0deg, */
    /* rgb(247, 197, 106) 47.396%, */
    /* rgb(100, 100, 255) 5%,
    rgba(237, 164, 24, 0) 100%
  ); */
  text-align: center;
  box-shadow: -3px -3px 5px gray;
}

.footer_top {
  /* display: flex  ;
    justify-content: space-between; */
}

.footer-logo img {
  width: 50px;
  height: 50px;
}

.center-text{
  text-align: center;
}

.shadows{
  box-shadow: 3px 3px 5px gray;
}

.shadows:hover{
  /* box-shadow: 5px 5px 20px chocolate; */
  /* box-shadow: 5px 5px 10px rgb(0, 0, 156); */
  box-shadow: 5px 5px 10px gray;
} 